<div class="container">
  <div class="row">
    <div class="col-1">
      <button type="button" class="btn btn-light" (click)="onRefreshClick(true)"><i class="bi bi-arrow-clockwise"></i></button>
    </div>
    <div class="col-2 offset-9 text-end">
      <button type="button" class="btn btn-primary" routerLink="new"><i class="bi bi-plus-lg"></i> Add</button>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Naziv</th>
            <th scope="col">Tip</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let modelVozila of modeliVozil">
            <th scope="row">{{ modelVozila.id }}</th>
            <td>{{ modelVozila.naziv }}</td>
            <td>{{ pridobiTip(modelVozila.tip) }}</td>
            <td class="text-end">
              <i class="bi bi-wrench me-2" [routerLink]="[modelVozila.id, 'izdelave']" placement="top" ngbTooltip="Izdelave"></i>
              <i class="bi bi-pencil-fill" [routerLink]="[modelVozila.id]" placement="top" ngbTooltip="Edit"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>